<header> <%= link_to 'home', home_path %>
<%= link_to 'contact', contact_path %>
<%= link_to 'products', products_path %></header>

<h1>About</h1>

<h3>We are an enviornmentally conscious company providing your community with ecofriendly cleaning supplies. </h3>