<header><%= link_to 'home', home_path %>
<%= link_to 'about', about_path %>
<%= link_to 'products', products_path %></header>

<h1>Contact</h1>

<h3>Call Mike Jone$ </h3>
<h4>+ 1 (281) 330-8004 </h4>

