<header><%= link_to 'home', home_path %>
<%= link_to 'about', about_path %>
<%= link_to 'contact', contact_path %></header>

<h1>Products</h1>

<p>If you are seeing this it means all your neighbors have bought us out. Check back here for our restock, or contact <%= link_to 'Mike Jone$', contact_path %> </p>